*.class
*.jar
target
.cache
.project
.classpath
.idea
*/.idea
.DS_Store
*/.DS_Store
.zip
.iml
.idea
.eclipse
.classpath
.class
.DS_Store
*.zip
*.iml
logs
*.log
testData
.tchistory
/.settings/
*.tar.gz
*.orig
samples/tests/reports/*
!samples/tests/reports/.gitkeep
data/tests/reports
logs
data/tests/receivedattachments
.vscode
dump
