dist: xenial
language: java

env:
  global:
    - SONATYPE_USERNAME=ph@phloc.com
    - secure: "hp7NkNQFCrpHbUgCEnTeY6cd5f0Ro+Jrq4++LIqF3WVrFDc6asWoZHkKjoBQQt81niyFyKC5wcHpAtzDxbP8AFqiiO77R2kGjaIjkvIHDjS1mNViNdN8Z5gMt+jvk6bxFtf+UGBioGyXi9s4iVD20
X53XvhyAh7NRIaOxZnGKQtX94UkBvh938BJsLdzwaRDeBSsF0rqFyslmm3F/85EqdI6zLTvRwPkrsgy8keh4W+piANo7fpry65K34D/ObaqRAxBNcw2bXvKOxq+zg0ucFQIClCDubQMqByiXpl1NAYkHhNnpKkde
br0BJ4u6zUELd1/mpc/Vd8RuKJ/wFiGJr+2aFQ4zjv24Y5PhB/QDOJkEnhXBXAj1pT320+UfcebFE8ewYN1pm14uo6FZTSAHUuL/8O9muovOovif613ufuPTveHYKlF1/B1AY5ug0fd1qCgN3v6QrYRgur4sGyhq
OOKLagdfeVswbcWJ1wx4Y5q/eUWmyLIdNTX4otP+ZZdhS6tUqSCeSCfaxIrGXZOIJRiKIxssogLVijbA4pXRB6gKkc+nK8W0evKnWp8AeJ4l9RSfERkjosI6NYH5pQP0GrBfWDTgNXyypUHhw8QK2FyTtz+92cGh
o0m2Wh7QTarfrrZFNMNZYfnbP3dR7OUV+XIMoiCgaQR+pxiRyS3+8U="

install:
#  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -U -P jdeps
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -U

cache:
  directories:
    - $HOME/.m2

branches:
  only:
    - dummytests

jobs:
  include:
    - stage: test
      jdk: openjdk8
      script:
        - mvn test -B -P coverage
      after_success:
        - mvn deploy --settings travis-settings.xml -DskipTests=true -B -P travis-deploy
        - docker pull toop/tomcat-jdk-image:1
        - docker build -t commander .
        - bash <(curl -s https://codecov.io/bash)
    - stage: test
      jdk: openjdk11
      script:
        - mvn test -B
    - stage: test
      jdk: oraclejdk11
      script:
        - mvn test -B
    - stage: test
      jdk: openjdk12
      script:
        - mvn test -B
